.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.label,
.rating {
  span {
    width: 50px;
  }
}
