.button {
  background-color: white;

  &._primary {
    border: 1px solid blue;
    color: blue;

    &._dark {
      color: red;
      border-color: red;
    }
  }

  &._secondary {
    color: green;
    border-color: green;

    &._dark {
      color: yellow;
      border-color: yellow;
    }
  }

  &._large {
    padding: 10px;
  }

  &._small {
    padding: 5px;
  }
}
